body{
  background-color: #f5f5f5;
}

.navbar{
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin: 0.5rem;
  padding: 0.5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.product-searchbar{
  padding-top: 1rem;
  padding-right: 1rem;
  text-align: right;
}

.product-container{
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.products-list{
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-info, .product-image-container{
  width: 40%;
  padding: 1rem;
}

.product-image, .product-description, .product-actions{
  padding: 1rem;
  margin: 1rem;
}

.product-image{
  text-align: center;
}

.product-description p{
  margin-top: 0;
}

.item-container{
  text-decoration: none;
  width: 25%;
  box-sizing: border-box;
}

.item{
  text-decoration: none;
  margin: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
}
.item-image{
  width: 100%;
  height: 10rem;
}

.item-image img{
  margin: 0 auto;
  display: block;
  height: 100%;
}

.item p {
  text-decoration: none;
}